<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="fun-element.html">
<link rel="import" href="loot-dropper.html">
<dom-module id="data-binding">
    <template>
        <style>
            :host {
                display: block;
            }

            h3 {
                font-family: sans-serif;
                color: #2d2d2d;
            }
        </style>

        <h3>Level: [[totalLevel]]</h3>
        <button on-click="levelUp">Level Up</button>

        <loot-dropper gear-level="{{gearLevel}}"></loot-dropper>

        <!--<fun-element fun-level="[[totalLevel]]"></fun-element>-->
    </template>
    <script>
        class DataBinding extends Polymer.Element {

            static get properties() {
                return {
                    baseLevel: {
                        type: Number,
                        value: 500
                    },
                    totalLevel: {
                        type: Number,
                        computed: 'calculateLevel(baseLevel, gearLevel)'
                    }
                }
            }

            calculateLevel(baseLevel, gearLevel) {
                return baseLevel + gearLevel;
            }

            levelUp() {
                this.shadowRoot.querySelector("loot-dropper").dropLoot();
                this.baseLevel += 500;
            }

            static get is() {
                return 'data-binding';
            }
        }

        window.customElements.define(DataBinding.is, DataBinding);
    </script>
</dom-module>