<link rel="import" href="bower_components/polymer/polymer-element.html">
<dom-module id="fun-element">
    <script>
        class FunElement extends Polymer.Element {

            static get is() {
                return 'fun-element';
            }

            static get properties() {
                return {
                    funLevel: {
                        type: Number,
                        observer: '_funLevelChanged'
                    }
                }
            }

            _funLevelChanged(newVal, oldVal) {
                if (newVal > 9000 && oldVal <= 9000) {
                    alert("It's over 9000!");
                }
            }
        }

        window.customElements.define(FunElement.is, FunElement);
    </script>
</dom-module>