<link rel="import" href="bower_components/polymer/polymer-element.html">
<dom-module id="loot-dropper">
    <script>
        class LootDropper extends Polymer.Element {

            static get is() {
                return 'loot-dropper';
            }

            static get properties() {
                return {
                    gearLevel: {
                        type: Number,
                        value: 100,
                        notify: true,
                        readonly: true
                    }
                }
            }

            dropLoot() {
                this.gearLevel = LootDropper._randomIntFromInterval(400, 1000);
            }

            static _randomIntFromInterval(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min);
            }
        }

        window.customElements.define(LootDropper.is, LootDropper);
    </script>
</dom-module>