<link rel="import" href="bower_components/polymer/polymer-element.html">
<dom-module id="scoped-css">
    <template>
        <style>
            :host {
                display: block;
            }

            h1 {
                color: darkslategray;
            }
        </style>
        <h1>I'm in Shadow DOM</h1>
    </template>
    <script>
        class ScopedCss extends Polymer.Element {

            static get is() {
                return 'scoped-css';
            }
        }

        window.customElements.define(ScopedCss.is, ScopedCss);
    </script>
</dom-module>