<style>
    h1 {
        color: #ffffff;
    }
</style>

<custom-element>
    #shadow-root
    <style>
        h1 {
            color: #000000;
        }
    </style>

    <h1>Hello Darkness my old Friend</h1>

</custom-element>

<h1>Hello, World!</h1>